:root {
  --default-font-family: "Poppins", sans-serif;
  --branding-color: #00c2c2;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 1px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h2,
h3 {
  font-weight: 600;
}

h4 {
  font-size: 28px;
}
h5 {
  font-size: 20px;
}

h4,
h5 {
  font-weight: 500;
}

p {
  font-weight: 300;
  font-size: 17px;
}

footer {
  margin: 0 0px;
}

footer .contact-box {
  background: var(--secondary-color);
  border-radius: 10px;
  padding: 30px 120px;
}

footer .contact-box p {
  margin: 0;
  font-size: 18px;
}

/* GENERAL */

/* Navbar */

.navbar {
  background-color: white;
  padding-bottom: 20px;
}

.navbar-brand {
  font-size: 20px;
}

.nav-item {
  font-size: 18px;
  font-weight: 500;
  padding-left: 30px;
}

/* Buttons */
.btn-branding {
  background-color: var(--branding-color);
  border: 1px solid var(-branding-color);
  border-radius: 5px;
  color: white;
  font-size: 17px;
  font-weight: 300;
  line-height: 30px;
  padding: 8px 20px;
  transition: all 200ms ease;
}

.btn-branding:hover {
  background-color: white;
  color: var(--branding-color);
}

.hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 15% 18%;
  background-image: url(../images/cologne.jpg);
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(48, 48, 48, 0.603);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-text {
  color: white;
}

.hero h1 {
  font-size: 101px;
  letter-spacing: 3px;
  margin-top: 280px;
}

.hero h2 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 12px;
}

.hero p {
  font-size: 23px;
  font-weight: 600;
  margin-top: 25px;
}

.hero-btn-branding {
  color: white;
  font-size: 30px;
  padding: 8px 26px;
  transition: all 100ms ease;
}

.hero-btn-branding:hover {
  color: white;
  border: 1px solid white;
}

.location {
  font-size: 16px;
  color: black;
}

/* Homepage introduction content */

.homepage-content-container {
  padding: 220px 50px 0;
}

.homepage-content {
  padding: 0 30px;
  margin-bottom: 50px;
}

.homepage-content .homepage-content-container {
  justify-content: center;
  margin-bottom: 250px;
  padding-top: 178px;
}

.homepage-content .introduction-header {
  font-size: 32px;
}

.homepage-content .homepage-paragraph {
  line-height: 28px;
  text-align: justify;
}

.homepage-content .name-color {
  color: var(--branding-color);
}

/* Featured projects */

.featured-projects-container {
  padding-bottom: 20px;
}

.featured-projects-header {
  margin-top: 220px;
}

.featured-projects-content {
  padding: 0 30px;
}

.featured-project-title {
  font-size: 35px;
  margin-top: 80px;
}

.featured-project-description {
  line-height: 28px;
  text-align: justify;
}
